.container {
	position: fixed;
	left: 0;
	z-index: 100;
	box-sizing: border-box;
	width: 616px;
	height: 100%;
	overflow: scroll;
	background-color: #ffffff;
	border-right: 1px solid #000000;
	transform: translateX(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translateX(0);
}

.form {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	overflow-y: auto;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.field {
	margin-bottom: 50px;
}
